@import "../../app.scss";

.services{
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textContainer{
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 1.05vw;
        
        p{
            text-align: right;
            font-weight: 200;
            font-size: 1.05vw;
            color: gray;
        }

        hr{
            width: 26.27vw;
            border: none;
            border-top: 0.026vw solid gray;
        }
    }

    .titleContainer{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
            display: flex;
            align-items: center;
            gap: 2.63vw;

            img{
                width: 15.76vw;
                height: 5.25vw;
                border-radius: 2.63vw;
                object-fit: cover;
            }

            h1{
                font-size: 5.05vw;
                font-weight: 100;
            }

            button{
                width: 15.76vw;
                height: 5.25vw;
                border-radius: 2.63vw;
                background-color: orange;
                border: none;
                font-size: 1.26vw;
                cursor: pointer;
            }
        }
    }

    .listContainer{
        flex: 2;
        display: flex;
        max-width: 71.78vw;
        margin: auto;

        .box{
            padding: 2.63vw;
            border: 0.026vw solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            button{
                padding: 0.53vw;
                background-color: orange;
                border: none;
                cursor: pointer;
            }
        }
    }
}
