@import "../../app.scss";

.contact{
    height: 100%;
    max-width: 71.78vw;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 2.63vw;

    @include mobile {
        height: fit-content;
        width: 100%;
        padding: 1vw;
        flex-direction: column;
    }

    .textContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2.1vw;

        @include mobile {
            gap: 2vw;
            text-align: center;
            align-items: center;
            margin-top: 20vw;
        }

        h1{
            font-size: 5.25vw;
            line-height: 4.62vw;
            @include mobile {
                font-size: 7vw;
            }
        }
        h2{
            @include mobile {
                margin-top: 2vw;
                font-size: 5vw;
            }
        }

        span{
            font-weight: 300;
        }
    }

    .formContainer{
        flex: 1;
        position: relative;

        @include mobile {
            margin-top: 3vw;
            padding: 0px 1vw;
            width: 100%;
        }
        
        .phoneSvg{
            stroke: orange;
            position: absolute;
            margin: auto;
            z-index: -1;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 1.05vw;
            @include mobile {
                gap: 3vw;
            }
    
            input, textarea{
                padding: 1.05vw;
                background-color: transparent;
                border: 0.053vw solid white;
                color: white;
                border-radius: 0.26vw;

                @include mobile {
                    padding: 3vw;
                    border-radius: 1vw;
                }
            }

            button{
                padding: 1.05vw;
                border: none;
                background-color: orange;
                cursor: pointer;
                font-weight: 500;

                @include mobile {
                    padding: 3vw;
                }
            }
        }
    }
}
