@import "../../app.scss";

.navbar{
    height: 5.25vw;
    
    @include mobile {
        height: 20vw;
    }
    .wrapper{
        max-width: 71.78vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include mobile {
            justify-content: center;
            padding: 2vw;
        }

        span{
            font-weight: bold;

            @include mobile {
                display: none;
            }
        }

        .social{
            display: flex;
            gap: 1.05vw;
            @include mobile {
                gap:6vw;
                
            }
            img{
                width: 0.95vw;
                height: 0.95vw;
                @include mobile {
                    margin-top: 10vw;
                    width: 6vw;
                    height: 6vw;
                }
            }
        }
    }
}
